body{ 
    width: 100vw;
    height: 100vh;
    background-color: #e0e0e0;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}
::-webkit-scrollbar {
    display: none;
}
.bg-body-tertiary{ 
    width: 275px;
    height: 95%; 
    margin: 12px;
    border-radius: 10px; 
    box-shadow:  5px 5px 10px #bababa,
    -5px -5px 10px #dfdfdf;
} 
.bg-body-tertiary >a{  
    flex-wrap:wrap;
    justify-content: center;
    width: 250px;
}
h2{ 
    font-size: 20pt;
    font-weight: 700;
    margin: 0%;
}
li.nav-item.active {
    background-color: #abffab; 
    font-weight: bold;
    border-radius: 10px;
}
.nav-link{ 
    font-size: 13pt;
} 
.nav-link > i{
    margin-right: 10px; 
}
.active{
    --bs-dropdown-link-active-bg: #8effa8; 
}
.board{  
    width: 78%;
    height: 95%;  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 72px 1fr 50px; 
    gap: 2px;
}
.board1{  
    width: 78%;
    height: 95%;  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 72px 1fr; 
    gap: 2px;
}
.board h3,
.board1 h3{
    font-size: 17pt;
    font-weight: 800; 
}
.books{
    width: 1039px;
    height: 99%; 
    overflow-y: auto;
    background-color: #f8f9fa;
    box-shadow:  5px 5px 10px #bababa,
                -5px -5px 10px #dfdfdf;
    padding: 2px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
}
.books form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    padding: 30px 20px;
    gap: 7px;display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    padding: 30px 20px;
    gap: 7px;
}
.cap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 10px;
    box-shadow:  5px 5px 10px #bababa,
                -5px -5px 10px #dfdfdf;
    padding :10px;
}
.header1{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding :10px;
}

.searchbar form {
    width: 400px;
    height: 40px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap:5px;
}
.searchbar form input{
    width: 90%;
    height: 100%;
    padding: 5px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    outline: none;
    border: none;

}
.searchbar form #search-icon{
    width: 6%; 
    font-size: 18pt;
    cursor: pointer;
}
.searchbar form #search-icon:hover{ 
    text-shadow: 1px 1px 20px rgba(71, 71, 73, 0.753);
    color: black;
    font-size: 18pt;
    cursor: pointer;
}
.header1 > .text{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.header > .text{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text > .back-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.849);
    box-shadow: 5px 5px 10px #bababa, -5px -5px 10px #dfdfdf;
    text-align: center;
}
.back-btn > a {
    padding: 1px 5px;
    border-radius: 50%;
    font-size: 16pt;
    color: black;
    text-decoration: none;
    
}

.text > title{
    margin: 2px;
}
.text > .datetime{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.user-header{ 
    width: 240px;
    padding: 10px;
}
.content{
    display: grid;
    grid-template-columns: 640px 400px;
    grid-template-rows: 45% 55% ;
}
.overview{  
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around; 
}
.ovw-con{
    width: 97%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    background: linear-gradient(145deg, #90e685, #abff9e); 
}
.totalbooks, .totalvisits{
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 22pt;
    font-weight: 600;
    gap: 50px;
}
.totalbooks h3, .totalvisits h3{
    font-size: 25pt;
}
.line{
    border-left: 2px solid rgba(122, 122, 122, 0.39) ;
    height: 95%;
}
.duebooks{
    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: 2; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around; 
}
.duebooks-con{
    width: 97%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 10px;
    box-shadow:  5px 5px 10px #bababa,
                -5px -5px 10px #dfdfdf;
}
.stats{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around; 
}
.stats-con{
    width: 97%;
    height: 80%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #bababa, -5px -5px 10px #dfdfdf;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
}
.chart{
    width: 70%;
    height: 98%;
}
.visitorRanking{
    width: 30%;
    height: 100%;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
}
.newbooks{
    grid-column-start: -2;
    grid-column-end: -2;
    grid-row-start: 2;
    grid-row-end: 3; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around; 
}
.newbooks-con{
    width: 97%;
    height: 80%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #bababa, -5px -5px 10px #dfdfdf;
    flex-direction: column;
    flex-wrap: wrap
}
.btn{
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 3px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px; 
    background-color: palegreen;
    border: none;
    color:black; 
    transition: all 0.50s ease;
}
.btn:hover{
    background-color: rgba(9, 122, 9, 0.726);
    color: black;

} 
.settingForms{
    width: 99%;
    height: 535px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.settingForms > #userProfileForm{
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-rows: 30px 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.settingForms > #userPasswordForm{
    height: 40%;
    width: 100%;
    display: grid;
    grid-template-rows: 30px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.settingForms > #userPasswordForm:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.settingForms > form > h4{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}