body{ 
    height: 100vh;
    width: 100vw;
    background-color: #e0e0e0;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.bg-body-tertiary{ 
    width: 22%;
    height: 95%; 
    border-radius: 10px; 
    box-shadow:  5px 5px 10px #bababa,
    -5px -5px 10px #dfdfdf;
} 
.bg-body-tertiary >a{  
    flex-wrap:wrap;
    justify-content: center;
    width: 250px;
}
h2{ 
    font-size: 20pt;
    font-weight: 700;
    margin: 0%;
}
li.nav-item.active {
    background-color: #abffab;
    border: 0.5px solid #4eef4e;
    font-weight: bold;
    border-radius: 10px;
}
.nav-link{ 
    font-size: 13pt;
}
.dropdown > a{ 
    justify-content: space-around;
}
.nav-link > i{
    margin-right: 10px; 
}
.active{
    --bs-dropdown-link-active-bg: #48ff57; 
}
.board{  
    width: 75%;
    height: 95%;
    border-radius: 10px;
    background: #ffffffd4;
    box-shadow:  5px 5px 10px #bababa,
    -5px -5px 10px #dfdfdf;
}